body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}

.input-container{
    padding: 15px;
    border-radius: 15px;
    background-color: tomato;
}

.canvas-container{
    position: relative;
}

#myCanvas0 {
    border: 5px solid blue;
    border-radius: 15px;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 1;
}

#myCanvas1 {
    border: 5px solid red;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}